include ./header

ul.page(lazy-load="page-image")
  li.page-wrapper(id="page1")
    img.page-image(data-original="img/leaflet-wholesale/1.jpg?23445", width="800", height="1142")
  li.page-wrapper(id="page2")
    img.page-image(data-original="img/leaflet-wholesale/2.jpg?23445", width="800", height="1142")
  li.page-wrapper(id="page3")
    img.page-image(data-original="img/leaflet-wholesale/3.jpg?23445", width="800", height="1142")
  li.page-wrapper(id="page4")
    img.page-image(data-original="img/leaflet-wholesale/4.jpg?23445", width="800", height="1142")
  li.page-wrapper(id="kontakt")
    .contact
      .contact-addressContainer

        .vcard
          //- a.url.fn.n(href="http://wielkikiermasz.pl") Wielki Kiermasz
          h1.org Hurtownia AGD - Artdom
          a.email(href="mailto:czernal@artdom.opole.pl") czernal@artdom.opole.pl
          .adr
            .street-address ul. Otmuchowska 114
            .locality Nysa
            .region woj. opolskie
            .postal-code 48-300
            .country-name Polska

          .tel tel. (77) 474 40 86

      .contact-mapContainer
        //- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2538.740350410105!2d17.339856846557623!3d50.48317732420705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4711c419bfd6ec2d%3A0x3a1a36b8876bcead!2sTorowa+1!5e0!3m2!1spl!2spl!4v1398808748604" width="400" height="300" frameborder="0" style="border:0"></iframe>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d40622.5673459957!2d17.30173409809063!3d50.4800106377489!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4711c47c0b8359ed%3A0xaa3a7569d6e5a71d!2sOtmuchowska+114%2C+48-300+Nysa!5e0!3m2!1spl!2spl!4v1409779085096" width="400" height="300" frameborder="0" style="border:0"></iframe>

