
div.catalogCheck.bg-info(ng-show="access == null")
  h3.center Sprawdzam dostęp do katalogu

div.catalogAccessDenied.bg-danger(ng-if="access == false")
  h3.center Brak dostępu do katalogu
  p Aby otrzymać dostęp skontaktuje się z przedstawicielem firmy Artdom telefonicznie
  ul.list-inline
    li
      b 602 739 765 - Marek Czernal
  p lub mailowo
    ul.list-inline
      li
        b
          a(href="mailto:artdomzam@wp.pl?Subject=Prośba%20o%20dostęp%20do%20katalogu%20online") artdomzam1@wp.pl


div.catalogWrapper(ng-if="access == true", lazy-load="catalogPageImage")
  a.catalogPage.m-preview(ng-repeat="page in pages track by $index", ng-click="showPreview(page)")
    img.catalogPageImage(data-original="jpg/preview/{{page.svg.file | encodeFilename}}.jpg", width="280", height="394")

div.catalogPreview(ng-click="hidePreview()", ng-show="isPreview")
  img.catalogPreviewImage(src="{{previewImgURL}}")
