.header
	.header-logo
		img.header-logoImage(src="img/artdom_logo.jpg")
	ul.header-menu
		li.header-menuItem
			a.header-menuLink(ng-click="scrollTo('page1')", ng-class="{active: isActive('page1')}") Strona 1
		li.header-menuItem
			a.header-menuLink(ng-click="scrollTo('page2')", ng-class="{active: isActive('page2')}") Strona 2
		li.header-menuItem
			a.header-menuLink(ng-click="scrollTo('page3')", ng-class="{active: isActive('page3')}") Strona 3
		li.header-menuItem
			a.header-menuLink(ng-click="scrollTo('page4')", ng-class="{active: isActive('page4')}") Strona 4
		li.header-menuItem
			a.header-menuLink(ng-click="scrollTo('page5')", ng-class="{active: isActive('page5')}") Strona 5			
		li.header-menuItem
			a.header-menuLink(ng-click="scrollTo('page6')", ng-class="{active: isActive('page6')}") Strona 6			
		li.header-menuItem
			a.header-menuLink(ng-click="scrollTo('kontakt')", ng-class="{active: isActive('kontakt')}") Kontakt
		//- li.header-menuItem
		//- 	a.header-menuLink(ng-href="/tokens") Admin
