.catalogAccessDenied
.catalogCheck
  margin 20% auto 0 auto
  width 50%
  height 50%
  border 1px solid #ddd
  border-radius 3px
  padding 2% 5%

.catalogWrapper
  text-align center
  max-width 1000px
  margin 0px auto

.catalogPage
  display inline-block

  &.m-preview
    padding 20px
    width 320px

.catalogPageImage
  width 100%
  border 3px solid #999
  user-select none

  &:hover
  	border-color darken(#444, 10%)

.catalogPreview
  position fixed
  top 0px
  bottom 0px
  left 0px
  right 0px
  background-color rgba(0,0,0,0.75)
  user-select none

.catalogPreviewImage
  display block
  margin 2.5% auto
  height 95%
