.catalogWrapper
  text-align center

.catalogPage
  display inline-block
  
  &.m-preview
    padding 5%
    width 45%

.catalogPageImage
  width 100%
  border 3px solid #eee

  &:hover
  	border-color darken(#eee, 10%)


.catalogPreview
	position fixed
	top 0px
	bottom 0px
	left 0px
	right 0px
	background-color rgba(0,0,0,0.75)

.catalogPreviewImage
  display block
  margin 0px auto
  height 100%