.page
  padding 0px
  width 100%
  text-align center
  list-style none

.page-wrapper
  padding-top 70px

.page-crop
  margin 0px auto
  width 800px
  height 1142px
  overflow hidden

.page-image
  width 2400px
  height 1142px

  &.m-right
    margin-left -(2*(@width / 3))px

  &.m-center
    margin-left -(@width / 3)px
