.page
  padding 0px
  width 100%
  text-align center
  list-style none

.page-wrapper
  padding-top 70px

.page-crop
  margin 0px auto
  width 800px
  height 1142px
  overflow hidden

.page-image
  width (2*800)px
  height 1159px

  &.m-right
    margin-left -(@width / 2)px

  &.m-center
    margin-left -(@width / 2)px

  &.m-threePages
    width (3*800)px

    &.m-right
      margin-left -(2*(@width / 3))px

    &.m-center
      margin-left -(@width / 3)px

  &.m-fourPages
    width (4*800)px

    &.m-second
      margin-left -(@width / 4)px

    &.m-third
      margin-left -(2*(@width / 4))px

    &.m-last
      margin-left -(3*(@width / 4))px


