h1 tokeny

table.table
  thead
    tr
      th Token
      th Email klienta
      th Ważne do
      th Ilość wejść
      th &nbsp;
  tbody
    tr(ng-repeat="(hash, data) in hashes")
      td
        a(ng-href="/katalog/{{hash}}") {{hash}}
      td {{data.email}}
      td {{data.validTo | date: 'yyyy-MM-dd'}}
      td 0
      td &nbsp;
        button.btn.btn-default.btn-xs(ng-click="remove(hash)") Usuń

form(name="newToken", ng-submit="add()")  
  table.table
    thead
      tr
        th Email klienta
        th Ważne do
        th
    tbody
      tr
        td
          input(ng-model="newTokenEmail", type="email", required, placeholder="e-mail klienta")
        td
          label(for="newTokenValidTo")
          input(ng-model="newTokenValidTo", type="date", required, min="{{todayDate}}" name="newTokenValidTo")
        td
          button.btn.btn-default.btn-xs(type="submit") Zapisz nowy

br
br
section
  small Logged in as {{User.me.email}}
  button.btn.btn-default.btn-xs(ng-click="User.logout()") logout
