h1 tokeny

table.table.table-striped
  thead
    tr
      th Token
      th Email klienta
      th Ważne do
      th Ilość wyświetleń
      th &nbsp;
  tbody
    tr(ng-repeat="(hash, data) in hashes")
      td
        a(ng-href="/katalog/{{hash}}", target="_blank") {{hash}}
      td {{data.email}}
      td.tokensCell(ng-class="{'m-overdue': today > data.validTo}") {{data.validTo | date: 'yyyy-MM-dd'}}
      td {{data.impressions ? data.impressions : '-'}}
      td &nbsp;
        button.btn.btn-default.btn-xs(ng-click="remove(hash, data)") Usuń
        button.btn.btn-default.btn-xs(ng-click="prolong(hash, data)") {{(today > data.validTo) ? 'Wznów' : 'Przedłóż'}}

form(name="newToken", ng-submit="add()")
  table.table.table-striped
    thead
      tr
        th Email klienta
        th Ważne do
        th
    tbody
      tr
        td
          input(ng-model="newTokenEmail", type="email", required, placeholder="e-mail klienta")
        td
          label(for="newTokenValidTo")
          input(ng-model="newTokenValidTo", type="date", required, min="{{todayDate}}" name="newTokenValidTo")
        td
          button.btn.btn-default.btn-xs(type="submit") Zapisz nowy

br
br
section
  small Logged in as {{User.me.email}}
  button.btn.btn-default.btn-xs(ng-click="User.logout()") logout
