section(ng-hide="user")
  form(name="loginForm", ng-submit="login()")
    input(ng-model="username", type="text", placeholder="login", name="login")
    input(ng-model="password", type="password", placeholder="password", name="password")
    input(type="submit", value="login")


